tgcrypto
requests
youtube_dl
ffmpeg-python
python-dotenv
pytgcalls==3.0.0.dev19
git+https://github.com/pyrogram/pyrogram@master
pyrogram
youtube_search_python
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
pillow
python-arq
future
psutil
wget
tswift